@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: "Bebas";
		src: url("/public/Fonts/BebasNeue-Regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "BDreams";
		src: url("/public/Fonts/BillionDreams.woff2") format("woff2");
	}
	@font-face {
		font-family: "Gilroy";
		src: url("/public/Fonts/Gilroy-Bold.woff2") format("woff2");
	}
	@font-face {
		font-family: "Gemstone";
		src: url("/public/Fonts/Gemstone-Regular.woff2") format("woff2");
	}
	@font-face {
		font-family: "ProductSans";
		src: url("/public/Fonts/ProductSansRegular.ttf") format("ttf");
	}
	@font-face {
		font-family: "Evogria";
		src: url("/public/Fonts/Evogria.otf") format("otf");
	}
}
